<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Friends List</title>
</head>
<link href="U_css/list.css" rel="stylesheet" type="text/css" />
<script src="/U_js/alist.js" type="text/javascript"></script>
<body>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<tr class="back-blue" ng-repeat="f in friends">

					<td>{{f.fromId}}</td>
					<td>{{f.toId}}</td>
					<td><a href="#/chat" ng-click="" class="btn btn-default">chat</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>